<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola mundo {{name}}</h1>
    <h3>Categorias</h3>
    <ul>
        {# Este es un comentario de una linea #}

        {%comment%}
        En la parte inferior recorremos las categorias y las pintamos en
        caso de ser code se pinta en negrita.
        {%endcomment%}

        {% for category in categories %}

        {% if category == 'code' %}
        <li><b>{{category|upper}}</b></li>
        {%else%}
        <li>{{category}}</li>
        {%endif%}
        {%endfor %}
    </ul>
    <h5>Total de categorias : {{categories|length }}</h5>
</body>
</html>
